@font-face {
    font-family: "Golos";
    src: url("../fonts/golos-regular.ttf") format("truetype");
}

body {
    font-family: "Golos";
}

.navbar {
    background: #03A06C;
    height: 100px;
}

.nav-link {
    color: #ffffff;
}

.side-for-scli {
    background-image: url("../img/back-side-for-scli.png");
}

.side-text {
    color: #ffffff;
    font-family: "Golos";
    font-style: normal;
    font-weight: bold;
}

.bg-list-light {
    background: #ffffff;
    color: #000000;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.5);
}

.back-side-for-scli-alt {
    background-image: url("../img/back-side-for-scli-alt.png");
}

.back-side-for-about-scli {
    background-image: url("../img/recources-bg.png");
}

.first-footer {
    background: #3B4256;
}

.second-footer {
    background: #2D3344;
}

.py-6 {
    padding-top: 20%;
}

.py-7 {
    padding-top: 5%;
}

.pt-6 {
    padding-bottom: 40%;
}

.breadcrumps-for-fixed-nav {
    padding-top: 6.6%;
}

.breadcrumb-custom-size {
    padding-left: 19em;
    font-size: 13px;
}

.breadcrumb-item>a {
    color: gray;
}

.breadcrumb-item-active {
    color: #000 !important;
}

.drowpdown-100 {
    width: 100%;
}

.text-48px {
    font-size: 48px;
}

.text-32px {
    font-size: 32px;
}

.text-16px {
    font-size: 16px;
}

.text-22px {
    font-size: 22px;
}

.text-18px {
    font-size: 18px;
}

.text-14px {
    font-size: 14px;
}

.greystone-text {
    color: #B3BBC3;
}

.yellowstone-text {
    color: #FFDE01;
}

.greenstone-text {
    color: #03A06C;
}

.yellow-link-bg {
    background-color: #FFDE01;
}

.green-link-color {
    color: #03A06C;
}

.super-search-button {
    padding-left: 27em;
}

.plus-Ñareer:hover {
    color: #03A06C;
    cursor: pointer;
}

.content-container {
    height: 72px;
    width: auto;
}

.card-special-styles {
    margin-top: -3.5em;
}

.mainpage-news-photo {
    border-radius: 4px;
}

.form-inline {
    padding-bottom: 23em;
    padding-left: 5em;
}

.form-control {
    width: 48.5em !important;
    background-color: transparent !important;
    color: #ffffff !important;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #ffffff !important;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #ffffff !important;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #ffffff !important;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #ffffff !important;
}

.search-button-fls {
    width: 10.375em;
}

.first-menu-a {
    line-height: 80px;
}

.first-menu-a:hover {
    background-color: #039766;
    color: #fff;
    text-decoration: none;
}

.menu>li:hover .sub-menu {
    display: block;
}

.sub-menu {
    display: none;
    /* display: block; */
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    padding: 15px 0px 0px 0px;
}

.sub-menu-content {
    background-color: #039766;
    padding-top: 50px;
}

.sub-h {
    padding-inline-start: 40px;
}

.sub-h a {
    text-decoration: none;
    color: #FFDE01;
}